
<div class="upper">

  <div class="content">

    <div class="headline">

      <h1><span class="bold">So much more</span> than just a scholarship.</h1>
      <h5 class="grey">We believe that kids attending under-resourced schools in low-income communities need more support than simply financial aid.</h5>

      <div class="button scroll-start" scroll-target="#lower">
        Find Out More
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>

    </div>

  </div><!-- /content -->
</div><!-- /upper -->

<div id="lower" class="lower">

  <div class="content">

    <div class="section what-we-do">


      <div class="text">

        <h4>Hoku Scholars (formerly Waianae Coast Scholarship Fund) is an <span class="bold">integrated</span>, merit-based scholarship program that helps kids from America's <span class="bold">most vulnerable communities</span> get into college.</h4>
      </div>

      <div class="image">
        <%= image_tag "WCSFcheck.jpg", :alt => "A few of our kids" %>
      </div>


    </div><!-- /what-we-do -->

    <div class="section attributes clear">

      <div class="question">

        <h4>How do <span class="bold">Hoku Scholars perform?</span></h4>

      </div>

      <div class="row clear">

        <div class="attribute academic">

          <div class="wrapper">

            <%= image_tag "icons/academic.jpg", :alt => "Academic Achievement" %>
            <h3>Academic Achievement</h3>
            <p>Hoku scholars average a 3.83 GPA. All students are enrolled in the proper college-required courses and on pace to pass AP level courses.</p>

          </div>

        </div>

        <div class="attribute extracurricular">

          <div class="wrapper">

            <%= image_tag "icons/extracurricular.jpg", :alt => "Extracurricular" %>
            <h3>Extracurricular</h3>
            <p>100% of Hoku Scholars are involved in extracurricular activities, with 53% of scholars holding leadership roles.</p>

          </div>

        </div>


      </div>

      <div class="row clear">

        <div class="attribute service">

          <div class="wrapper">

            <%= image_tag "icons/service.jpg", :alt => "Community Service" %>
            <h3>Community Service</h3>
            <p>The average Hoku Scholar completes 32 hours of service per year. Each student leads a community service initiative that impacts their community.</p>

          </div>

        </div>

        <div class="attribute test">

          <div class="wrapper">

            <%= image_tag "icons/test.jpg", :alt => "Test Prep" %>
            <h3>Test Prep</h3>
            <p>Each Hoku Scholar must pass a quiz for every tested benchmark on the ACT/SAT prior to their junior year. 100% of the students will take the PSAT. </p>

          </div>

        </div>

      </div>

      <div class="attribute pdu">

        <div class="wrapper">

          <%= image_tag "icons/pdu.jpg", :alt => "Professional Development" %>
          <h3>Professional Development</h3>
          <p>Hoku scholars complete 2 professional development workshops every semester spanning topics such as communication skills, financial assistance applications,
            and selecting fit-appropriate colleges.</p>

          </div>

        </div>

      </div><!-- /attributes -->

      <div id="stayUpdated" class="section">
        <div class="text">
          <h3 class="">Stay updated</h3>
          <div>We are constantly adapting and improving our program. If you want to stay current on what we are doing, sign up to receive email updates.</div>
        </div>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="http://bbnow.us5.list-manage.com/subscribe/post?u=e08a3f7c7c61eaa78ad746184&amp;id=77765b0239" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required style="margin: auto; margin-bottom: 10px; border-radius: 4px;">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_e08a3f7c7c61eaa78ad746184_77765b0239" value="" style="margin: auto;">
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="margin: auto;">
            </div>
          </form>
        </div>

        <!--End mc_embed_signup-->
      </div>

    </div><!-- /content -->

  </div><!-- /lower -->

  <div class="modal fade" id="getInvolvedModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div id="getInvolved" class="involved section">
            <div class="text">
              <h3 class="">Get involved</h3>
              <div>We are young and very passionate about what we do but can't do this alone. If you would like to get involved or can help us out in any way, don't hesitate to send us an <a href="mailto:directors@hokuscholars.org">email!</a></div>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="donateNowModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div id="donateNow" class="donate section">
            <div class="text">
              <h3 class="">Donate now</h3>
              <div style="padding-bottom: 20px;">Just like any other non-profit, your generous donations help us immensely. If you really like what we are doing and want to support us financially, click below to make a tax deductible donation to our program. </div>

              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="text-align: center;">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="KN4DCFQ9BR7B6">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="" width="1" height="1">
              </form>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
