<div class="top-wrapper teamContainer">
  <div class="section">
    <h2>Our Team</h2>
    <p>None of what we've been able to accomplish so far would be possible without
    our amazing team and volunteers that we've built up over the past few years!</p>
  </div>

  <div class="section">
    <h3>Founders</h3>
    <div class="avatar">
      <%= image_tag "mark.jpg", :class => "img-circle", :alt => "Mark Cassidy" %>
      <div class="bold">Mark Cassidy</div>
    </div>

    <div class="avatar">
      <%= image_tag "dane.jpg", :class => "img-circle", :alt => "Dane Carlson" %>
      <div class="bold">Dane Carlson</div>
    </div>

    <div class="avatar">
      <%= image_tag "kate.jpg", :class => "img-circle", :alt => "Kate Goedeker" %>
      <div class="bold">Kate Goedeker</div>
    </div>

    <div class="avatar">
      <%= image_tag "chad.jpg", :class => "img-circle", :alt => "Chad Jens" %>
      <div class="bold">Chad Jens</div>
    </div>
  </div>

  <div class="section">
    <h3>School Directors</h3>
    <div class="avatar">
      <%= image_tag "arezu.jpg", :class => "img-circle", :alt => "Arezu Hadjialiloo" %>
      <div class="bold">Arezu Hadjialiloo</div>
      <div>Kamaile Academy</div>
    </div>

    <div class="avatar">
      <%= image_tag "jenni.jpg", :class => "img-circle", :alt => "Jenni Hebein" %>
      <div class="bold">Jenni Hebein</div>
      <div>Waianae High School</div>
    </div>
  </div>

  <div class="section">
    <h3>Cohort Leaders</h3>
    <div class="avatar">
      <%= image_tag "sarah.jpg", :class => "img-circle", :alt => "Sarah Kern" %>
      <div class="bold">Sarah Kern</div>
      <div>WHS Juniors</div>
    </div>

    <div class="avatar">
      <%= image_tag "bryson.jpg", :class => "img-circle", :alt => "Bryson Mitchell" %>
      <div class="bold">Bryson Mitchell</div>
      <div>WHS Sophomores</div>
    </div>

    <div class="avatar">
      <%= image_tag "cameron.jpg", :class => "img-circle", :alt => "Cameron Kubota" %>
      <div class="bold">Cameron Kubota</div>
      <div>WHS Freshman</div>
    </div>

    <div class="avatar">
      <%= image_tag "chase.jpg", :class => "img-circle", :alt => "Chase Cabana" %>
      <div class="bold">Chase Cabana</div>
      <div>Kamaile Academy Freshman</div>
    </div>

    <div class="avatar">
      <%= image_tag "jacquie.jpg", :class => "img-circle", :alt => "Jacquie O'Donnell" %>
      <div class="bold">Jacquie O'Donnell</div>
      <div>Kamaile Academy Freshman</div>
    </div>
  </div>

  <div class="section">
    <h3>Volunteers</h3>
    <div class="avatar">
      <%= image_tag "nina.jpg", :class => "img-circle", :alt => "Nina Beckwith" %>
      <div class="bold">Nina Beckwith</div>
    </div>

    <div class="avatar">
      <%= image_tag "neel.jpg", :class => "img-circle", :alt => "Neel Bhat" %>
      <div class="bold">Neel Bhat</div>
    </div>

    <div class="avatar">
      <%= image_tag "melinda.jpg", :class => "img-circle", :alt => "Melinda Campbell" %>
      <div class="bold">Melinda Campbell</div>
    </div>

    <div class="avatar">
      <%= image_tag "jake.jpg", :class => "img-circle", :alt => "Jake Connors" %>
      <div class="bold">Jake Connors</div>
    </div>

    <div class="avatar">
      <%= image_tag "jill.jpg", :class => "img-circle", :alt => "Jill Fruhwirth" %>
      <div class="bold">Jill Fruhwirth</div>
    </div>

    <div class="avatar">
      <%= image_tag "jamie.jpg", :class => "img-circle", :alt => "Jamie Hernandez" %>
      <div class="bold">Jamie Hernandez</div>
    </div>

    <div class="avatar">
      <%= image_tag "pat.jpg", :class => "img-circle", :alt => "Pat Hogan" %>
      <div class="bold">Pat Hogan</div>
    </div>

    <div class="avatar">
      <%= image_tag "andrew.jpg", :class => "img-circle", :alt => "Andrew Marchetto-Ryan" %>
      <div class="bold">Andrew Marchetto-Ryan</div>
    </div>

    <div class="avatar">
      <%= image_tag "laura.jpg", :class => "img-circle", :alt => "Laura Uber" %>
      <div class="bold">Laura Uber</div>
    </div>
  </div>

  <div class="section"></div>
</div>
